@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* 
font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Lexend Deca', sans-serif;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Very-light-gray: hsl(0, 0%, 95%);
  --light-gray-opacity: hsla(0, 0%, 93%, 0.834);
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  width: 1000px;
  height: 500px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 60px;
  padding: 50px;
}

.left {
  background-color: var(--Bright-orange);
  color: var(--Bright-orange);
}

.mid {
  background-color: var(--Dark-cyan);
}

.right {
  background-color: var(--Very-dark-cyan);
}

img {
  size: 20px;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  color: var(--Very-light-gray);
  font-size: 30px;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: var(--light-gray-opacity);
}

button {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--Very-light-gray);
  border: 2px solid #e7e7e7;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  color: transparent;
}

.left > button {
  color: var(--Bright-orange);
}

.mid > button {
  color: var(--Dark-cyan);
}

.right > button {
  color: var(--Very-dark-cyan);
}

button:hover {
  background-color: transparent;
  color: var(--Very-light-gray);
}

@media screen and (max-width: 1050px) {
  .container {
    flex-direction: column;
    max-width: 450px;
    height: auto;
  }
  .cart {
    gap: 30px;
  }
}
